openapi: 3.0.3
info:
  title: Cursor Cloud Agents API
  description: |
    Programmatically create and manage Cursor Cloud Agents that work
    autonomously on your repositories. v1 separates a durable agent
    from one or more runs: each prompt submission creates a run on the
    agent. Streaming and cancellation are scoped to the active run.
  version: 1.0.0
  contact:
    email: background-agent-feedback@cursor.com

servers:
  - url: https://api.cursor.com
    description: Production server

security:
  - basicAuth: []

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        API key from Cursor Dashboard, supplied as the Basic
        Authentication username with an empty password.

  schemas:
    ImageDimension:
      type: object
      required:
        - width
        - height
      properties:
        width:
          type: integer
          minimum: 1
          description: Width in pixels
        height:
          type: integer
          minimum: 1
          description: Height in pixels

    Image:
      type: object
      required:
        - data
      properties:
        data:
          type: string
          minLength: 1
          description: Base64 encoded image data (max 15 MB)
          example: 'iVBORw0KGgoAAAANSUhEUgAA...'
        dimension:
          $ref: '#/components/schemas/ImageDimension'

    ModelRef:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          minLength: 1
          description: Explicit model ID returned by GET /v1/models. Omit `model` from the request to use the configured default.
          example: 'composer-2'
        params:
          type: array
          description: Per-model parameters such as reasoning effort or max mode. Use only parameters supported by the selected model.
          items:
            type: object
            required:
              - id
              - value
            properties:
              id:
                type: string
                minLength: 1
                example: 'thinking'
              value:
                type: string
                minLength: 1
                example: 'high'

    RepoConfig:
      type: object
      properties:
        url:
          type: string
          minLength: 1
          description: GitHub repository URL. Required unless `prUrl` is provided.
          example: 'https://github.com/your-org/your-repo'
        startingRef:
          type: string
          minLength: 1
          description: Branch, tag, or commit hash to use as the starting point.
          example: 'main'
        prUrl:
          type: string
          format: uri
          description: GitHub pull request URL. When provided, the agent works on this PR's repository and branches; `url` and `startingRef` are ignored.
          example: 'https://github.com/your-org/your-repo/pull/123'

    AgentEnv:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: Execution environment type.
          example: 'cloud'

    AgentSummary:
      type: object
      required:
        - id
        - name
        - status
        - env
        - url
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique agent identifier.
          example: 'bc-00000000-0000-0000-0000-000000000001'
        name:
          type: string
          description: Auto-derived agent name.
          example: 'Add README with setup instructions'
        status:
          type: string
          enum: ['ACTIVE', 'ARCHIVED']
          description: Agent lifecycle state. Execution status lives on runs.
        env:
          $ref: '#/components/schemas/AgentEnv'
        url:
          type: string
          format: uri
          description: URL to view the agent in Cursor Web.
          example: 'https://cursor.com/agents?id=bc-00000000-0000-0000-0000-000000000001'
        createdAt:
          type: string
          format: date-time
          description: When the agent was created.
        updatedAt:
          type: string
          format: date-time
          description: When the agent was last updated.
        latestRunId:
          type: string
          description: ID of the most recent run on this agent, if any.
          example: 'run-00000000-0000-0000-0000-000000000001'

    Agent:
      allOf:
        - $ref: '#/components/schemas/AgentSummary'
        - type: object
          properties:
            repos:
              type: array
              description: Repository configuration. v1 currently supports one entry.
              items:
                $ref: '#/components/schemas/RepoConfig'
            branchName:
              type: string
              description: Branch the agent works on.
              example: 'cursor/add-readme'
            autoGenerateBranch:
              type: boolean
              description: Whether the branch was auto-generated.
              example: true
            autoCreatePR:
              type: boolean
              description: Whether Cursor opens a pull request when the run completes.
              example: true
            skipReviewerRequest:
              type: boolean
              description: Whether to skip requesting the user as a reviewer when Cursor opens a PR.

    Run:
      type: object
      required:
        - id
        - agentId
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique run identifier.
          example: 'run-00000000-0000-0000-0000-000000000001'
        agentId:
          type: string
          description: ID of the agent this run belongs to.
          example: 'bc-00000000-0000-0000-0000-000000000001'
        status:
          type: string
          enum:
            ['CREATING', 'RUNNING', 'FINISHED', 'ERROR', 'CANCELLED', 'EXPIRED']
          description: Current run status.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateAgentRequest:
      type: object
      required:
        - prompt
        - repos
      properties:
        prompt:
          type: object
          required:
            - text
          properties:
            text:
              type: string
              minLength: 1
              description: Task instruction for the agent.
              example: 'Add a README with setup instructions'
            images:
              type: array
              maxItems: 5
              items:
                $ref: '#/components/schemas/Image'
              description: Optional base64-encoded images. Maximum 5 images, 15 MB each.
        model:
          $ref: '#/components/schemas/ModelRef'
        repos:
          type: array
          minItems: 1
          maxItems: 1
          description: Repository configuration. v1 currently supports one entry.
          items:
            $ref: '#/components/schemas/RepoConfig'
        branchName:
          type: string
          minLength: 1
          description: Custom branch name for the agent to create.
          example: 'feature/add-readme'
        autoGenerateBranch:
          type: boolean
          description: Whether to create a new branch (true) or push to an existing head branch (false). Only applies when `repos[0].prUrl` is provided.
          default: true
        autoCreatePR:
          type: boolean
          description: Whether Cursor should open a pull request when the run completes.
          default: false
        skipReviewerRequest:
          type: boolean
          description: Whether to skip requesting the user as a reviewer when Cursor opens a PR. Only applies when `autoCreatePR` is true.
          default: false
        envVars:
          type: object
          maxProperties: 50
          description: Session-scoped environment variables for the cloud agent. Values are encrypted at rest, injected into the agent's shell, and deleted with the agent. Names must be non-empty, 1024 bytes or less, and cannot start with `CURSOR_`. Values must be non-empty and 4096 bytes or less.
          additionalProperties:
            type: string
            minLength: 1
            maxLength: 4096

    CreateRunRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: object
          required:
            - text
          properties:
            text:
              type: string
              minLength: 1
              description: Follow-up instruction text.
              example: 'Also add troubleshooting steps'
            images:
              type: array
              maxItems: 5
              items:
                $ref: '#/components/schemas/Image'
              description: Optional base64-encoded images. Maximum 5 images, 15 MB each.

    CreateAgentResponse:
      type: object
      required:
        - agent
        - run
      properties:
        agent:
          $ref: '#/components/schemas/Agent'
        run:
          $ref: '#/components/schemas/Run'

    CreateRunResponse:
      type: object
      required:
        - run
      properties:
        run:
          $ref: '#/components/schemas/Run'

    ListAgentsResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          description: Agents, newest first.
          items:
            $ref: '#/components/schemas/AgentSummary'
        nextCursor:
          type: string
          nullable: true
          description: Cursor for fetching the next page of results, or null when there are no more.
          example: 'bc-00000000-0000-0000-0000-000000000002'

    ListRunsResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          description: Runs for this agent, newest first.
          items:
            $ref: '#/components/schemas/Run'
        nextCursor:
          type: string
          nullable: true
          description: Cursor for fetching the next page of results, or null when there are no more.

    IdResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Identifier of the affected resource.

    Artifact:
      type: object
      required:
        - path
        - sizeBytes
        - updatedAt
      properties:
        path:
          type: string
          minLength: 1
          description: Artifact path relative to the workspace's `artifacts/` directory.
          example: 'artifacts/screenshot.png'
        sizeBytes:
          type: integer
          minimum: 0
          description: File size in bytes.
          example: 12345
        updatedAt:
          type: string
          format: date-time
          description: Last modified timestamp.

    ListArtifactsResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          description: Artifacts produced by the agent. Returns at most 100 artifacts.
          items:
            $ref: '#/components/schemas/Artifact'

    DownloadArtifactResponse:
      type: object
      required:
        - url
        - expiresAt
      properties:
        url:
          type: string
          format: uri
          description: Temporary 15-minute presigned S3 URL for downloading the artifact.
          example: 'https://cloud-agent-artifacts.s3.us-east-1.amazonaws.com/...'
        expiresAt:
          type: string
          format: date-time
          description: When the presigned URL expires.

    ApiKeyInfo:
      type: object
      required:
        - apiKeyName
        - createdAt
        - userEmail
      properties:
        apiKeyName:
          type: string
          example: 'Production API Key'
        createdAt:
          type: string
          format: date-time
        userEmail:
          type: string
          format: email
          example: 'developer@example.com'

    ListModelsResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          description: Recommended set of explicit model IDs you can pass to the `model.id` field on POST /v1/agents.
          items:
            type: string
          example: ['composer-2', 'gpt-5.5', 'claude-4.6-sonnet-thinking']

    Repository:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: GitHub repository URL.
          example: 'https://github.com/your-org/your-repo'

    ListRepositoriesResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Repository'

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: |
                Machine-readable error code. Possible values include
                `unauthorized`, `api_key_not_found`, `plan_required`,
                `role_forbidden`, `feature_unavailable`,
                `validation_error`, `missing_body`, `agent_not_found`,
                `run_not_found`, `agent_busy`, `agent_archived`,
                `run_not_cancellable`, `rate_limit_exceeded`,
                `stream_expired`, `stream_unavailable`,
                `invalid_last_event_id`, `upstream_error`, and
                `internal_error`.
            message:
              type: string
              description: Human-readable error message.

  parameters:
    AgentId:
      name: id
      in: path
      required: true
      description: Unique identifier for the agent.
      schema:
        type: string
        example: 'bc-00000000-0000-0000-0000-000000000001'
    RunId:
      name: runId
      in: path
      required: true
      description: Unique identifier for the run.
      schema:
        type: string
        example: 'run-00000000-0000-0000-0000-000000000001'

  responses:
    BadRequest:
      description: Validation error or malformed request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated but insufficient permissions, plan required, or feature unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Agent or run not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Resource state conflict (`agent_busy`, `agent_archived`, or `run_not_cancellable`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Gone:
      description: Stream retention window has elapsed (`stream_expired`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded. Response includes `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /v1/agents:
    post:
      summary: Create an agent
      description: |
        Create a Cloud Agent and immediately enqueue its initial run.
        The response contains both the durable `agent` and the initial
        `run`.
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created and initial run enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      summary: List agents
      description: List agents for the authenticated user, newest first.
      operationId: listAgents
      parameters:
        - name: limit
          in: query
          required: false
          description: Number of agents to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          required: false
          description: Pagination cursor from the previous response.
          schema:
            type: string
            minLength: 1
        - name: prUrl
          in: query
          required: false
          description: Filter agents by GitHub pull request URL.
          schema:
            type: string
            format: uri
        - name: includeArchived
          in: query
          required: false
          description: Whether to include archived agents.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Agents retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}:
    get:
      summary: Get an agent
      description: Retrieve durable metadata for an agent. Execution status lives on runs.
      operationId: getAgent
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete an agent permanently
      description: Permanently delete an agent. This action is irreversible. Use POST /v1/agents/{id}/archive for reversible removal.
      operationId: deleteAgent
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/runs:
    post:
      summary: Create a run
      description: |
        Send a follow-up prompt to an existing active agent. The new
        run uses the agent's current conversation and workspace state.
        Only one run can be active per agent at a time.
      operationId: createRun
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunRequest'
      responses:
        '201':
          description: Run created and enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRunResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      summary: List runs
      description: List runs for an agent, newest first.
      operationId: listRuns
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          required: false
          description: Pagination cursor from the previous response.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Runs retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/runs/{runId}:
    get:
      summary: Get a run
      description: Retrieve status and timestamps for a specific run.
      operationId: getRun
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Run retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/runs/{runId}/stream:
    get:
      summary: Stream a run
      description: |
        Stream Server-Sent Events for one run. Event types include
        `status`, `assistant`, `thinking`, `tool_call`, `heartbeat`,
        `result`, `error`, and `done`. Reconnect with the
        `Last-Event-ID` header to resume after a disconnect; the event
        ID must belong to the requested run. Responses include the
        `X-Cursor-Stream-Retention-Seconds` header. After the
        retention window the endpoint may return `410 stream_expired`.
      operationId: streamRun
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/RunId'
        - name: Last-Event-ID
          in: header
          required: false
          description: Resume from a previously received event ID for this run.
          schema:
            type: string
      responses:
        '200':
          description: SSE stream of run events.
          headers:
            X-Cursor-Stream-Retention-Seconds:
              description: Server-side stream retention window in seconds.
              schema:
                type: integer
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/runs/{runId}/cancel:
    post:
      summary: Cancel a run
      description: |
        Cancel the active run for an agent. Cancellation is terminal —
        the run transitions to `CANCELLED`. Cancelling a run that is
        already terminal or was never active returns
        `409 run_not_cancellable`. To continue the conversation,
        create a new run on the same agent.
      operationId: cancelRun
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Run cancelled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/archive:
    post:
      summary: Archive an agent
      description: Archive an agent. Archived agents remain readable but cannot accept new runs until unarchived.
      operationId: archiveAgent
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent archived successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/unarchive:
    post:
      summary: Unarchive an agent
      description: Unarchive an agent so it can accept new runs again.
      operationId: unarchiveAgent
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent unarchived successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/artifacts:
    get:
      summary: List artifacts
      description: |
        List artifacts produced by an agent. Each artifact's `path` is
        relative to the workspace's `artifacts/` directory. Pass that
        `path` to GET /v1/agents/{id}/artifacts/download to obtain a
        presigned download URL.
      operationId: listArtifacts
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Artifacts retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListArtifactsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/agents/{id}/artifacts/download:
    get:
      summary: Download an artifact
      description: |
        Retrieve a temporary 15-minute presigned S3 URL for an
        artifact. The `path` query parameter must be a relative path
        under `artifacts/` returned by GET /v1/agents/{id}/artifacts.
      operationId: downloadArtifact
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: path
          in: query
          required: true
          description: Relative artifact path under `artifacts/`.
          schema:
            type: string
            minLength: 1
            example: 'artifacts/screenshot.png'
      responses:
        '200':
          description: Presigned URL retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadArtifactResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/me:
    get:
      summary: API key info
      description: Retrieve information about the API key being used for authentication.
      operationId: getApiKeyInfo
      responses:
        '200':
          description: API key info retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/models:
    get:
      summary: List models
      description: |
        Returns a recommended set of explicit model IDs you can pass
        to the `model.id` field on POST /v1/agents. To use the
        configured default model, omit the `model` field from the
        request body entirely.
      operationId: listModels
      responses:
        '200':
          description: Models retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/repositories:
    get:
      summary: List GitHub repositories
      description: |
        List GitHub repositories accessible to the authenticated user
        through Cursor's GitHub App installation. This endpoint has
        very strict rate limits (1 request per user per minute, 30
        per user per hour) and can take tens of seconds to respond
        for users with access to many repositories. Cache responses
        aggressively and handle this information not being available
        gracefully.
      operationId: listRepositories
      responses:
        '200':
          description: Repositories retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRepositoriesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
